* {
    margin: 0;
    padding: 0;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #0081cb33;
}

.desk {
    width: 500px;
    height: 25px;
    background-color: black;
    border-radius: 30px;
    transform: rotate(-15deg);
    animation-name: up-down;
    animation-duration: 2s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}

.ball {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: white;
    position: relative;
    bottom: 100px;
    left: 400px;
    animation-name: ball-move;
    animation-duration: 4s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}
.ball::after {
    content: '';
    width: 10px;
    height: 10px;
    background-color: green;
    border-radius: 50%;
    position: absolute;
    top: 40px;
    right: 10px;
}

@keyframes ball-move {
    0% {
        left: 400px;
        transform: rotate(360deg);
    }
    50% {
        left: 0;
        /* transform: rotate(0); */
    }
    100% {
        left: 400px;
        transform: rotate(0deg);
    }
}

@keyframes up-down {
    from {
        transform: rotate(-15deg);
    }
    to {
        transform: rotate(15deg);
    }
}